<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciando com Vuejs</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        
        <gui-titulo titulo="Formularios"></gui-titulo>
        
        <p>
            TextArea:  {{textArea}}

        </p>
        <p style="white-space: pre-line">
                {{textArea}}
        </p>
        <p>
            <textarea v-model="textArea" name="" id="" cols="30" rows="10">

            </textarea>
        </p>
        <p>
            Texto: {{texto}}
        </p>
        <input type="text" v-model="texto">



        <p>Checkbox</p>
        <input type="checkbox" name="" id="aceitaTermos" v-model="termos">
        <label for="aceitaTermos">{{termos}}</label>

        <p>Multiplos Checkboxes: {{notificacoes}}</p>
        <input type="checkbox" name="" id="receberEmail" value="email" v-model="notificacoes">
        <label for="receberEmail">Receber Email</label>
        <input type="checkbox" name="" id="receberSms" value="sms" v-model="notificacoes">
        <label for="receberSms">Receber Sms</label> l
        <input type="checkbox" name="" id="receberTe" value="tel" v-model="notificacoes">
        <label for="receberTel">Receber Ligação</label> 

        <p>Radio: {{sexo}} </p>

        <p>
            <input type="radio" id="masculino" value="M" v-model="sexo">
            <label for="masculino">Masculino</label>

            <input type="radio" id="feminino" value="F" v-model="sexo">
            <label for="feminino">Feminino</label>
        </p>
        <p>Select: {{ ano }}</p>
        <p>
            <select v-model="ano" name="" id="">
                <option  disabled  value="">Escolha o ano</option>
                <option  value="2017">Ano 2017</option>
                <option  value="2018">Ano 2018</option>
                <option  value="2019">Ano 2019</option>
                <option  value="2020">Ano 2020</option>
                
                
                

                
            </select>
        </p>
        <p>Multiplos Selects: {{ cores }}</p>
        <p>
            <select multiple v-model="cores" name="" id="">
                <option  disabled  value="">Escolha as cores</option>
                <option >Azul</option>
                <option >Verde</option>
                <option >Vermelho</option>
                <option >Amarelo</option>
              </select>
        </p>
        <p>Formulario Lazy: {{busca}}</p>
        <p><input type="text" v-model.lazy="busca"></p>
        <p>Number: {{idade}} - tipo: {{typeof idade}}</p>
        <p>
            <input type="number" v-model.number="idade">
        </p>
    </div>
    <script type="text/javascript">
    
       Vue.component('gui-titulo',{
           props:['titulo'],
           template:'<h2>{{ titulo }}</h2>'
       });
      
       var app = new Vue({
           el:"#app",
           data:{
                texto: '',
                textArea: '',
                termos: true,
                notificacoes: [],
                sexo: null,
                ano: null,
                cores:null,
                busca: '',
                idade: null
           },
            methods:{
               totalValorMetodo: function(){
                    this.contaMetodos++;
                    let total = 0;
                    for(item of this.registros){
                        total +=  item.valor
                    }
                    return total;
               }
           },
           computed:{

                totalValorComputed: function(){
                    this.contaComputhed++;
                    let total = 0;
                    for(item of this.registros){
                        total +=  item.valor
                    }
                    return total;
                }
           },
           watch: {
               nome:function(valor){
                   
                   this.contaAlteracao++;
                   this.nome = valor.toUpperCase();
               
               }
           }
        });
    </script>
</body>
</html>