<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciando com Vuejs</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <!-- <gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>
        <input type="text" v-model="meuTitulo">  -->

        <gui-tabela v-bind:titulos="['Titulo','Descricao','Link']"  v-bind:registros="registros"></gui-tabela>
        <p v-once>{{meuTitulo}}</p>
        <p v-html="html">{{html}}</p>
        <p> {{  25.983475235 | trataValor}}</p>
        
        
        <ul v-for="registro in registros">
                <li v-for="item in registro">
                  {{item}}  
                  <!-- {{registro.titulo}} - {{registro.descricao}}  -{{registro.link}} - {{registro.valor | trataValor}} -->
                </li>
        </ul>
        <p> Total: (methods) : {{totalValorMetodo() | trataValor}} </p>
        <p> Total: (computado) : {{totalValorComputed | trataValor}} </p>
        <p>(contamethods) {{contaMetodos}}</p>
        <p>(contaComputed) {{contaComputhed}}</p>
        <p>
            <input type="text" v-model="nome" placeholder="Nome">
        </p>
        <p>{{ contaAlteracao }}</p>
    </div>
    <script type="text/javascript">
    
       Vue.component('gui-titulo',{
           props:['titulo'],
           template:'<h2>{{ titulo }}</h2>'
       });
       Vue.component('gui-tabela',{
           props:['titulos','registros'],
        //    template:'<table style="width:100%">'+
        //         '<thead>'+
        //            '<tr>' +
        //               '<th v-for="titulo in titulos"> {{titulo}} </th>' +
        //            '</tr>'+     
        //         '<thead>'+
        //         '<tbody>'+
        //             '<tr v-for="registro in registros">'+
        //                 '<td v-for="item in registro">{{item}}</td>'+
        //             '<tr>'+
        //         '</tbody>'+        
        //    '</table>'
        template:'<table style="width:100%">'+
          '<thead>'+
            '<tr>'+
              '<th v-for="titulo in titulos">{{titulo}}</th>'+
            '</tr>'+
          '</thead>'+
          '<tbody>'+
            '<tr v-for="registro in registros">'+
              '<td v-for="item in registro">{{item}}</td>'+
            '</tr>'+
          '</tbody>'+
        '</table>'     
       });
       var app = new Vue({
           el:"#app",
           data:{
               meuTitulo:'AHAH ESSe é o titulo',
               registros:[
               {titulo:'Título 1',descricao:'descricao1',link:'link1',valor:23.456453},
               {titulo:'Título 2',descricao:'descricao2',link:'link2',valor:10.4345},
               {titulo:'Título 3',descricao:'descricao3',link:'link3',valor:23}
                   
                ],
                html:'<a href="#">Esse e um html</a>',
                contaMetodos:0,
                contaComputhed:0,
                nome: '',
                contaAlteracao:0
           },
           filters:{
               trataValor: function(valor){
                    return ('R$'+(valor).toFixed(2)).replace('.',',');
               },
               
           },
           methods:{
               totalValorMetodo: function(){
                    this.contaMetodos++;
                    let total = 0;
                    for(item of this.registros){
                        total +=  item.valor
                    }
                    return total;
               }
           },
           computed:{

                totalValorComputed: function(){
                    this.contaComputhed++;
                    let total = 0;
                    for(item of this.registros){
                        total +=  item.valor
                    }
                    return total;
                }
           },
           watch: {
               nome:function(valor){
                   
                   this.contaAlteracao++;
                   this.nome = valor.toUpperCase();
               
               }
           }
        });
    </script>
</body>
</html>