<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        {{ msg }}
        <p v-bind:title="titulo"></p>
        <p v-if=condicao> Teste com IF</p>
        <p v-for="registro in registros">
            {{registro.titulo}}
        </p>
        <button v-if="!clicou" v-on:click="usuarioClicou">Salvar</button>
        <button v-if="clicou" v-on:click="usuarioClicou">aguardar</button>
        <p>
            <input type="text" v-model="usuario.nome">
        </p>
        <p>{{usuario.nome}}</p>
    </div>
    <script type="text/javascript">

       var app = new Vue({
           el:"#app",
           data:{
               msg:" iniciando com vue",
               titulo:"Teste com v-bind",
               condicao: true,
               registros: [
                   {titulo:'registro1'},
                   {titulo:'registro2'},
                   {titulo:'registro3'},
                   {titulo:'registro4'},
                   {titulo:'registro5'},
                    
                ],
               clicou: false,
               usuario:{
                   nome: ""
               }
           },
           methods:{
                usuarioClicou: function(){
                    this.clicou = !this.clicou;
                }
           }

       });
    </script>
</body>
</html>